
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


main#landPrincipal a {
 color:inherit;
 text-decoration: none;
}     

main#landPrincipal {
	width: 100%;
    position: relative;
    display: block;
    font-size: 16px;
}

main#landPrincipal .container{
    width: 1306px;
    margin: auto;
    padding: 0px 20px;
    box-sizing: border-box;
    position: relative;
}


main#landPrincipal img {
    display: block;
    max-width: 100%;
}
main#landPrincipal p{
    font-family: 'Gotham Book';
    font-size: 1rem;
    color: #000;
    margin: 0 0 0.5rem 0;
    padding: 0;
}

/* Header */
main#landPrincipal .cabecalho{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #000;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    color: #000;
}
main#landPrincipal .title-menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.5rem;
}
main#landPrincipal .title-menu h1{
    margin: 0;
    color: #FFF;
    font-family: 'Gotham Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0;
    line-height: 1;
}

/* Menu */
main#landPrincipal .menu-brandbook {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
main#landPrincipal .dropdown-toggle {
    padding: 0 0 0.5rem 2rem;
    font-size: 30px;
    display: block;
}

main#landPrincipal .header-fixo{
    position: fixed;
    width: 100%;
    display: block;
    z-index: 999;
}

main#landPrincipal ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #777;
    width: 200px;
    padding: 0;
    margin: 0;
}

main#landPrincipal ul.dropdown li {
    list-style-type: none;
}
main#landPrincipal ul.dropdown li a {
    text-decoration: none;
    padding: .5em 1em;
    display: block;
}
main#landPrincipal .submenu {
    display: none;
}

main#landPrincipal .cabecalho.header-cor-branca{
    color: #FFF;
    border-top: 1px solid #FFF;
}
main#landPrincipal .cabecalho.header-cor-preta{
    color: #000;
    border-top: 1px solid #000;
}

main#landPrincipal .bg-conhecer{
    background-image: url(../img/bgconhecer.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;    
}
main#landPrincipal .apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
main#landPrincipal .separator{
    width: 100px;
    height: 10px;
    background-color: #daff40;
    display: block;
}
main#landPrincipal .apresentation--txt{
    width: 250px;
}
main#landPrincipal h2{
    font-family: 'Netshoes Conceito Semi Bold';
    font-size: 5rem;
    color: #FFF;
    margin: 0;
    padding: 0;
}
main#landPrincipal .apresentation--txt p{
    font-family: 'Gotham Book', sans-serif;
    font-size: 1rem;
    color: #FFF;
    margin-top: 1rem;
    padding: 0;
}
main#landPrincipal .arrow-positions{
    position: absolute;
    bottom: 5px;
    z-index: 40;
}
main#landPrincipal .arrow-down-white{
    width: 30px;
    -webkit-animation: cimabaixo ease 1s infinite ;
    animation: cimabaixo ease 1s infinite;
    position: relative;
    margin-bottom: 100px;
    font-size: 4rem;
    color: #FFF;
}
main#landPrincipal .arrow-down-black{
    width: 30px;
    -webkit-animation: cimabaixo ease 1s infinite ;
    animation: cimabaixo ease 1s infinite;
    position: relative;
    font-size: 4rem;
}
@keyframes cimabaixo{
    0%{top:0px}
    100%{top:10px}
}

main#landPrincipal .title-intros{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
main#landPrincipal .title-intros h3{
    font-family: 'Gotham Bold';
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 0.5rem;
    padding: 0;
}
main#landPrincipal h4{
    font-family: 'Gotham Bold';
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.5rem;
    padding: 0;
}
main#landPrincipal .risca{
    width: 50px;
    height: 5px;
    background-color: #000;
    display: block;
}
main#landPrincipal .text-intros{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 2rem;
}
main#landPrincipal .text-intros p{
    font-family: 'Gotham Book';
    font-size: 1rem;
    color: #000;
    margin: 0 0 0.5rem 0;
    padding: 0;
}
main#landPrincipal .anchor{
    width: 100%;
    height: 50px;
}
main#landPrincipal .text-container-small{
    max-width: 350px;
}
main#landPrincipal .text-container-medium{
    max-width: 500px;
}
main#landPrincipal .text-container-big{
    max-width: 650px;
}
main#landPrincipal .quem-somos-slider{
    display: block;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
} 
main#landPrincipal .quem-somos-slider p{
    color: #FFF;
}
main#landPrincipal.quem-somos-slider-section .owl-stage {
    display: flex;
    display: -webkit-flex;
}
.quem-somos-slider-section .item {
    margin: 0 1rem 2rem 0;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.quem-somos-slider-section .item.active {
    width: 500px;
}
.quem-somos-slider-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/
}
.quem-somos-slider-section .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.quem-somos-slider-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}
.quem-somos-slider-section .item-desc h3{
    font-family: 'Gotham Bold';
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.quem-somos-slider-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;

    font-family: 'Gotham Book';
    font-size: 1rem;
}
.quem-somos-slider-section .item-desc p strong {
    font-family: 'Gotham Bold';
}
.quem-somos-slider-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.quem-somos-slider-section .owl-theme.custom-carousel .owl-dots {
    margin-top: -20px;
    position: relative;
    z-index: 5;
}

.slider-rolagem-horizontal.owl-theme .owl-nav [class*='owl-']{
    font-size: 4rem;
}
.slider-rolagem-horizontal.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: #000;
}
main#landPrincipal .margin-top-small{
    margin-top: 4rem;
}
main#landPrincipal .margin-top-medium{
    margin-top: 8rem;
}
main#landPrincipal .margin-top-big{
    margin-top: 12rem;
}

@media (min-width: 992px) and (max-width: 1199px) {

    .quem-somos-slider-section .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px;
    }
    .quem-somos-slider-section .item.active {
      width: 400px;
    }
    .quem-somos-slider-section .item-desc {
      transform: translateY(calc(100% - 46px));
      -webkit-transform: translateY(calc(100% - 46px));
    }
}
  
@media (min-width: 768px) and (max-width: 991px) {

    .quem-somos-slider-section .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }
    .quem-somos-slider-section .item.active {
      width: 360px;
    }
    .quem-somos-slider-section .item-desc {
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
}
  
@media (max-width: 767px) {
    
    .quem-somos-slider-section .item {
      margin: 0 5px 40px;
      width: 200px;
      height: 380px;
    }
    .quem-somos-slider-section .item.active {
      width: 270px;
      
    }
    .quem-somos-slider-section .item-desc {
      padding: 0 14px 5px;
      transform: translateY(calc(100% - 42px));
      -webkit-transform: translateY(calc(100% - 42px));
    }
}

@media screen and (max-width: 1305px){

    main#landPrincipal .container{
        width: 930px;
        margin:auto;
        box-sizing: border-box;
        padding: 0px 15px;
    }
}

@media screen and (max-width: 930px){

    main#landPrincipal .container{
        width: 100%;
        margin:auto;
	    box-sizing: border-box;
        padding: 0px 15px;
    }
}

@media screen and (max-width: 767px){

    main#landPrincipal .container{
        width: 100%;
        margin:auto;
	    box-sizing: border-box;
        padding: 0px 15px;
    }
    main#landPrincipal ul.dropdown{
        width: 100%;
    }
}

@media screen and (max-width: 350px){
    main#landPrincipal h2{
        font-size: 3rem;
    }
    main#landPrincipal .apresentation--txt{
        width: 100%;
    }
}




/*Media Queries resoluções tela cheia a partir de 930 pra cima*/

@media (min-width: 930px) and (max-width: 1000px){
    main#landPrincipal section.container-dois{
        width: 1000px;
        position: relative;
        left: 50%;
        margin-left: -500px;
        float: left;
        clear: both;
    }  
}

@media (min-width: 1001px) and (max-width: 1050px){
    main#landPrincipal section.container-dois{
        width: 1050px;
        position: relative;
        left: 50%;
        margin-left: -525px;
        float: left;
        clear: both;
    }  
}

@media (min-width: 1051px) and (max-width: 1150px){
    main#landPrincipal section.container-dois{
        width: 1100px;
        position: relative;
        left: 50%;
        margin-left: -550px;
        float: left;
        clear: both;
    }  
}

@media (min-width: 1101px) and (max-width: 1150px){
    main#landPrincipal section.container-dois{
        width: 1150px;
        position: relative;
        left: 50%;
        margin-left: -575px;
        float: left;
        clear: both;
    }  
}

@media (min-width: 1151px) and (max-width: 1200px){
    main#landPrincipal section.container-dois{
        width: 1200px;
        position: relative;
        left: 50%;
        margin-left: -600px;
        float: left;
        clear: both;
    }  
}

@media (min-width: 1201px) and (max-width: 1250px){
    main#landPrincipal section.container-dois{
        width: 1250px;
        position: relative;
        left: 50%;
        margin-left: -625px;
        float: left;
        clear: both;
    }  
}

@media (min-width: 1251px) and (max-width: 1300px){
    main#landPrincipal section.container-dois{
        width: 1300px;
        position: relative;
        left: 50%;
        margin-left: -650px;
        float: left;
        clear: both;
    }  
}

/* Responsavel pelo layout pegar tela inteira a partir de 1300px quando o site coloca um breakpoint */
@media (min-width: 1301px){
    main#landPrincipal section.container-dois{
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
        float: left;
        clear: both;
    }  
}
